html {

}

body {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-family: Verdana;
    background-color: black;
    width: 70%;
    padding: 10px;
}

header {
    margin: 10px;
    border: hidden;
    padding: 10px;
    align-content: center;
    text-align: center;
}

nav{
    text-align: center;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
}

nav li, footer li {
    display: inline;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(125,0,0);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container img:hover {
    transform: scale(2.0);
    opacity: 1.0;
    z-index: 3;
}

.container span {
   text-align: center;
   font-size: 0.7em;
}

#img1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

#img2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
}

#img3 {
    grid-column: 5 / span 3;
    grid-row: 1 / span 2;
}

#tag1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

#tag2 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}

#tag3 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
}


footer {
    margin: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 1;
    background-color: black;
    color: white;
    font-size: 1em;
}

.PostOutline {
    padding: 20px;
    border: solid thick white;
    text-align: left;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.PostText img {
    flex-grow: 1;
    height: auto;
    width: 50%;
    object-fit: contain;
}

.PostText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 20px;
    border: solid white 2px;
}

.PostText h3 {
    text-align: center;
}

.PostText span {
    font-size: 0.8em;
}

.PostMain {
    margin: 10px;
    flex-grow: 2;
    flex-basis: 500px;
}

.PostTable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid white;
    padding: 10px;
}

table {
    border-spacing: 5px;
}

th {
    text-align: center;
    font-size: 1.1em;
}