html {

}

body {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-family: Verdana;
    background-color: black;
    width: 70%;
    padding: 10px;
}

header {
    margin: 10px;
    border: hidden;
    padding: 10px;
    align-content: center;
    text-align: center;
}

nav{
    text-align: center;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
}

nav li, footer li {
    display: inline;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(125,0,0);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container img:hover {
    transform: scale(2.0);
    opacity: 1.0;
    z-index: 3;
}


footer {
    margin: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 1;
    background-color: black;
    color: white;
    font-size: 1em;
}

.PostOutline {
    padding: 20px;
    border: solid thick white;
    text-align: left;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.PostText img {
    flex-grow: 1;
    height: auto;
    width: 50%;
    object-fit: contain;
}

.PostText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 20px;
    border: solid white 2px;
}

.PostText h3 {
    text-align: center;
}

.PostText span {
    font-size: 0.8em;
}

.PostMain {
    margin: 10px;
    flex-grow: 2;
    flex-basis: 500px;
}

.PostTable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid white;
    padding: 10px;
}

table {
    border-spacing: 5px;
}

th {
    text-align: center;
    font-size: 1.1em;
}

.TutorialText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.TutorialText img {
    flex-grow: 1;
    height: auto;
    width: 70%;
    object-fit: contain;
}

.TutorialMain {
    margin: 10px;

}

.TutorialMain img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.TutorialMain img:hover {
    transform: scale(1.8);
    opacity: 1.0;
    z-index: 3;

}

.TutorialMain h3 {
    text-align: center;
    font-size: 1.8em;
}

.TutorialMain span {
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}


/* Media Queries */

@media screen and (max-width: 801px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
    }

    .container img:hover {
        transform: scale(1.2);
    }
}